/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {display: flex;justify-content: space-between;align-items: center;padding: 10px;color: black;height: 80px;width: 100%;margin: 0 auto; position: fixed;top: 0;z-index: 1000;background-color: white;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); font-family: 'Montserrat', sans-serif;
}

.left-xyzab{
  display: flex;
  flex-direction: row;
}
.left_image_xyzab{
  height: 57px;
  width: 54px;
  margin-right: 23px
}


.left_search_container_xyzab{box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;background-color: #f0f0f0;border-radius: 19px;overflow: hidden;font-family: 'Montserrat', sans-serif;position: absolute;left: 75px;top: 16px;height: 217px;overflow-y: scroll;scrollbar-width: thin;scrollbar-color: #bdbdbd #f0f0f0;}


.left_search_container_xyzab::-webkit-scrollbar {
  width: 6px;
}

.left_search_container_xyzab::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

.left_search_container_xyzab::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

.left_search_container_xyzab i{margin: 1px 1px 1px 11px;}

.left_search_container_xyzab input{outline: none;border: none;background-color: #f0f0f0;width: 183px;font-size: 18px;
margin: 19px 2px 14px 5px;}

.left_search_bar_history_xyzab{margin-top: 10px;margin-bottom: 15px;display: flex;visibility: hidden;}
.left_search_bar_history_xyzab_img{height: 20px;width: 25px;border-radius: 50%;margin-left: 4px;}
.left_search_bar_history_xyzab_user{padding-left: 10px;}

.left_liner_xyzab{border-bottom: 1px solid #ddd;}

.right-xyzac{font-size: 18px;margin-right: 63px;}

.right-xyzac a{text-decoration: none; padding-right: 24px;color: black;}

.right_profile_image_xyzac{height: 35px;width: 35px;margin-bottom: -8px;}




