:root {
  --montserrat: "Montserrat", sans-serif;
  --primary-bg: #008080;
  --light-gray: #f0f0f0;
  --glow-color: rgba(0, 128, 128, 0.5);
  --box-shadow: 0 0 10px rgba(0, 128, 128, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.editprofile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-gray);
  padding: 20px;
  font-family: var(--montserrat);
}

.editprofile-card {
  width: 800px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  padding: 0px 20px 20px 20px;
}

.editprofile-header {
  background-color: var(--primary-bg);
  color: white;
  padding: 12px;
  margin: -35px -20px 0px -20px;
  border-bottom: 2px solid var(--light-gray);
  text-align: center;
}

.editprofile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  margin-bottom: 10px;
}

.profile-editcard {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.profile-editcard.active {
  box-shadow: var(--box-shadow);
}

.profile-editcard-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-profiletimes{display: flex;margin: 0px auto;padding: 6px 6px 6px 7px;position: relative;left: 98%;}

.profile-editcard-content div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-item-card {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.edit-item-card-value {
  font-size: 14px;
  color: #555;
  padding-left: 40px;
}

.profile-editcard hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid var(--light-gray);
}

.summit-edit-item-details{
  margin-top: 15px; background-color: #006666;color: white;border: none;border-radius: 5px;
  padding: 8px 24px; font-size: 16px;font-weight: bold;cursor: pointer;transition: background-color 0.3s ease;position: relative;left: 45%;}

.summit-edit-item-details:hover{background-color: #004d4d;}

.edit-item-input {
  outline: none;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 5px;
}

.edit-item-input:focus {
  border: 1px solid white; /* Blue border on focus */
}

