@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* background-color: rgba(0, 0, 0, 0.4); */

:root {
  --montserrat: "Montserrat", sans-serif;
  --Lato: "Lato", sans-serif;
  --Open-sans: "Open Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pymt_main_container{
  background-color: #f0f0f0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif; 
}

.payment_ksdab_media{
    background-color:#008080;
    border: none;
    color: #fff;
    border-radius: 28px;
    font-size: 18px;
    font-family: var(--montserrat);
    font-weight: bold;
    width: 290px;
    height: 54px;
    margin-top: 23px;
    margin-left: 85px;
}

.payment_ksdab_media:hover{background-color:#00a3a3; cursor: pointer;}