
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --montserrat: "Montserrat", sans-serif;
  --primary-color: #66a3ff; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tagline-main-wrapper-container {
  font-family: var(--montserrat);
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline-main-container {
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 884px;
  height: 444px;
}

.tagline-main-container-img {
  margin-bottom: 15px;
  width: 402px;
  height: 444px;
}


.tgz-tagline-apply-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 30px;
}

.tgz-tagline-apply-form input {
  width: 90%;
  padding: 15px;
  font-size: 16px;
  font-family: var(--montserrat);
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.tgz-tagline-apply-form input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(102, 163, 255, 0.5);
}

.tgz-tagline-apply-form input::placeholder {
  color: #aaa;
  font-size: 14px;
}

.tgz-tagline-apply-form input:focus::placeholder {
  color: var(--primary-color);
}


.tgz-tagline-button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: var(--montserrat);
  color: white;
  background-color: #ff6f61;;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.tgz-tagline-button:hover {
  background-color: #e65c50;
  transform: scale(1.05);
}

.tgz-tagline-button:active {
  background-color: #cc4f44;
  transform: scale(0.98);
}



/* const handleSubmit = async(event) => {
  event.preventDefault();
  
  const DocRef = await addDoc(collection(db,"Activation"),{
    name:user[0],
    email:user[1],
    phoneNumber:user[2],
    dob:user[3],
    country:user[4],
    Document_users_id:user[5],
    username:user[6],
    bankname:data.bank_name,
    bank_number:data.number,
    bank_code:data.code
  })
  setData({ bank_name: '', number: '', code: '' })

}; */




